/* ANIMATIONS */
@-webkit-keyframes title-glow {
    from {
        border: 6px dotted yellow;
    }
    to {
        border: 6px dashed yellow;
    }
}
@keyframes title-glow {
    from {
        border: 6px dotted yellow;
    }
    to {
        border: 6px dashed yellow;
    }
}

@-webkit-keyframes score-glow {
    from {
        text-shadow: 0 0 0 black;
    }
    to {
        text-shadow: 0 0 6px black;
    }
}

@keyframes score-glow {
    from {
        text-shadow: 0 0 0 black;
    }
    to {
        text-shadow: 0 0 6px black;
    }
}

@-webkit-keyframes dice-glow {
    from {
        background-color: darkcyan;
    }
    to {
        background-color: rgb(0, 100, 100);
    }
}

@keyframes dice-glow {
    from {
        background-color: darkcyan;
    }
    to {
        background-color: rgb(0, 100, 100);
    }
}

@-webkit-keyframes potzee-glow {
    from {
        background-color: yellow;
    }
    to {
        background-color: darkgoldenrod;
    }
}

@keyframes potzee-glow {
    from {
        background-color: yellow;
    }
    to {
        background-color: darkgoldenrod;
    }
}

/* ELEMENTS */
body {
    background-color: darkgreen;
    color: white;
    padding: 0;
    margin: 0;
    font-size: 32px;
    font-size: 2rem;
    background-image: url('../images/texture.png');
    background-repeat: repeat;
}

input {
    font-size: 32px;
    font-size: 2rem;
    margin: 13px auto;
}

label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

img {
    height: 50px;
    border-top: 3px solid black;
    border-right: 3px solid gray;
    border-bottom: 3px solid gray;
    border-left: 3px solid black;
    border-radius: 6px;
    padding: 6px;
    -webkit-animation: dice-glow 3s alternate infinite;
            animation: dice-glow 3s alternate infinite;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border: 1px solid black;
    margin: auto;
    font-size: 16px;
    font-size: 1rem;
}

thead, tfoot, #top-totals {
    background-color: rgb(207, 207, 207);
    color: black;
    font-weight: bold;
}

td {
    border: 1px solid black;
    color: black;
    padding: 3px;
    text-align: left;
    min-width: 33px;
}


/* CLASSES */
.container {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
}

.border {
    border-top: 6px solid black;
    border-right: 6px solid gray;
    border-bottom: 6px solid gray;
    border-left: 6px solid black;
}

.index-player {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: darkgreen;
    padding: 13px;
    margin: 1px auto 3px auto;
    border: 1px solid black;
    box-shadow: 1px 1px 3px black;
    font-size: 32px;
    font-size: 2rem;    
}

.choices {
    background-color: wheat;
    color: black;
}

.player-choice {
    cursor: pointer;
}

.score-glow {
    color: yellow;
    -webkit-animation: score-glow 1s alternate infinite;
            animation: score-glow 1s alternate infinite;
}

.winner {
    color: black;
    -webkit-animation: potzee-glow 1s ease-in-out alternate infinite !important;
            animation: potzee-glow 1s ease-in-out alternate infinite !important;
}

.current-player {
    color: white;
    background-color: darkcyan;
    -webkit-animation: dice-glow 500ms ease-in-out alternate infinite;
            animation: dice-glow 500ms ease-in-out alternate infinite;
}

.current-player:hover {
    background-color: lightskyblue;
    color: black;
    -webkit-animation: none;
            animation: none;
}

.not-current-player {
    color: black;
    background-color: wheat;
    -webkit-animation: none;
            animation: none;
}

.potzee-glow {
    color: lime !important;
    -webkit-animation: score-glow 1s alternate infinite;
            animation: score-glow 1s alternate infinite;
}

.double-potzee-glow {
    -webkit-animation: potzee-glow 3s alternate infinite !important;
            animation: potzee-glow 3s alternate infinite !important;
}

/* body * {
    border: 1px solid red;
    font-size: 2rem;
} */

/* IDS */
#main {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border: 6px solid darkgoldenrod;
    padding: 33px;
    border-radius: 13px;
}

#header {
    display: block;
    color: black;
    text-shadow: 0 0 13px black;
    padding: 0;
    margin: 0 auto;
    /* animation: title-glow 500ms ease-in-out infinite; */
}

#add-players-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
}

#add-player, #start-game {
    font-size: 32px;
    font-size: 2rem;
}

#player-name {
    font-size: 32px;
    font-size: 2rem;
    width: 100%;
}

#dice-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#start-game {
    display: none;
}

/* BREAKPOINTS */
@media only screen and (min-width: 768px) {
    .container {
        width: auto;
    }
}